<div class="flex column card" *ngIf="teamDetails">
  <div class="flex row space-between">
    <p class="header m-btm-10 m-top-0">{{teamDetails.name}} [{{teamDetails.abbreviation}}]</p>
    <span [id]="'remove'+teamDetails.abbreviation" class="pointer" (click)="deleteCard()">X</span>
  </div>
  <p class="m-btm-10">{{teamDetails.conference | conference}}</p>
  <span class="divider"></span>
  <div class="flex row">
    <div class="flex column m-btm-10">
      <div>
        <p>Result of last 12 days</p>
        <div class="flex row">
          <p class="m-right-10 result" *ngFor="let result of teamDetails.results"
            [ngClass]="result === 'W' ? 'bg-green' : 'bg-red'">
            {{result}}</p>
        </div>
        <p>Avg pts scored <b>{{teamDetails.avgPtsScore}}</b></p>
        <p>Avg pts conceded <b>{{teamDetails.avgPtsConceded}}</b></p>
      </div>
      <button [id]="'results'+teamDetails.abbreviation" class="bg-green pointer" (click)="seeResult()">See Game
        Result</button>
    </div>
    <img class="logo" [src]="logo" alt={{teamDetails.abbreviation}}>
  </div>
</div>
