<ng-container *ngIf="options.length">
  <div class="flex row m-btm-10">
    <select [(ngModel)]="selectedOption" class="m-right-10">
      <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
    </select>
    <button class="bg-blue pointer" (click)="trackTeam(selectedOption)" [disabled]="isLoading">Track Team</button>
  </div>
  <div class="flex row card-container">
    <app-card class="width-30" *ngFor="let team of selectedTeams" [teamDetails]="team" (showResult)="showResult($event)"
      (removeCard)="removeTeam($event)"></app-card>
  </div>
</ng-container>
